In [2]:
import pandas as pd

df = pd.read_csv('./dataset/chatbot_dataset.csv')
df.head()

              user       system sentiment
0           12시 땡!   하루가 또 가네요.        일상
1      1지망 학교 떨어졌어    위로해 드립니다.        일상
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠.        일상
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠.        일상
4          PPL 심하네   눈살이 찌푸려지죠.        일상

In [5]:
df.shape

(333917, 3)

In [6]:
df.drop_duplicates().shape

(289836, 3)

In [14]:
from sklearn.preprocessing import LabelEncoder

new_df = pd.read_csv('./dataset/wellness_dialog_dataset.csv', encoding='cp949')
new_df2 = new_df[new_df['챗봇'].notnull()][['유저', '챗봇', '구분']
                                         ].reset_index(drop=True)
new_df2.columns = df.columns


def short_sentiment(sent):
    sent_split = sent.split('/')
    if len(sent_split) > 1:
        return '.'.join(sent_split[1:])
    else:
        return sent_split[0]


new_df2['sentiment'] = new_df2['sentiment'].apply(lambda x: short_sentiment(x))
total_df = pd.concat([df, new_df2], ignore_index=True)
total_df.drop_duplicates(inplace=True)
total_df.reset_index(drop=True, inplace=True)
le = LabelEncoder()
result = le.fit_transform(total_df['sentiment'])
total_df['label'] = result
total_df.to_csv('./dataset/wellness_dialog_total_dataset.csv',
                encoding='cp949', index=False)

In [15]:
total_df.head()

              user       system sentiment  label
0           12시 땡!   하루가 또 가네요.        일상    270
1      1지망 학교 떨어졌어    위로해 드립니다.        일상    270
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠.        일상    270
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠.        일상    270
4          PPL 심하네   눈살이 찌푸려지죠.        일상    270

In [19]:
len(total_df['sentiment'].unique())

363